<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@chat.list.headline">Chats</h1>
    <div>
        <a routerLink="/chats/add" class="btn btn-primary ms-2" i18n="@@chat.list.createNew">Create new Chat</a>
    </div>
</div>
@if ((chats && chats.totalElements !== 0) || route.snapshot.queryParamMap.get('filter')) {
<div class="row">
    <app-search-filter i18n-placeholder="@@chat.list.filter" placeholder="Filter by Id" class="col-md-6 col-lg-4" />
    <app-sorting [sortOptions]="sortOptions" class="col-md-6 col-lg-4 offset-lg-4" />
</div>
}
@if (!chats || chats.totalElements === 0) {
<div i18n="@@chat.list.empty">No Chats could be found.</div>
} @else {
<div class="table-responsive">
    <table class="table table-striped table-hover align-middle">
        <thead>
            <tr>
                <th scope="col" i18n="@@chat.id.label">Id</th>
                <th scope="col" i18n="@@chat.session.label">Session</th>
                <th><!-- --></th>
            </tr>
        </thead>
        <tbody>
            @for (chat of chats.content; track chat.id) {
            <tr>
                <td>{{ chat.id }}</td>
                <td>{{ chat.session }}</td>
                <td>
                    <div class="float-end text-nowrap">
                        <a [routerLink]="['/chats/edit', chat.id]" class="btn btn-sm btn-secondary" i18n="@@chat.list.edit">Edit</a>
                        <button type="button" (click)="confirmDelete(chat.id!)" class="btn btn-sm btn-secondary" i18n="@@chat.list.delete">Delete</button>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
<app-pagination [page]="chats" />
}
