<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@person.add.headline">Add Person</h1>
    <div>
        <a routerLink="/people" class="btn btn-secondary" i18n="@@person.add.back">Back to list</a>
    </div>
</div>
<form [formGroup]="addForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="addForm" field="email" i18n-label="@@person.email.label" label="Email" />
    <app-input-row [group]="addForm" field="firstName" i18n-label="@@person.firstName.label" label="First Name" />
    <app-input-row [group]="addForm" field="lastName" i18n-label="@@person.lastName.label" label="Last Name" />
    <input type="submit" i18n-value="@@person.add.headline" value="Add Person" class="btn btn-primary mt-4" />
</form>
